{% extends "base.html" %}

{% block body %}

<div class="container mt-3">
    <div class="mb-3">
        <label for="searchFor" class="form-label">Search For a Person</label>
        <div class="row">
            <div class="col">
                <input name="searchFor" type="text" class="form-control" id="searchFor"
                    placeholder="Enter a name/company/email" onkeyup="DoSearch();" {% if initSearch %}
                    value="{{ initSearch }}" {% endif %}>
            </div>
        </div>

    </div>
    </form>

    <div>
        Quick Links for Birthdays:
        <div class="row">
            <button class="col m-2 btn btn-sm btn-secondary" onclick="Today();">Today</button>
            <button class="col m-2 btn btn-sm btn-secondary" onclick="ThisWeek();">This Week</button>
            <button class="col m-2 btn btn-sm btn-secondary" onclick="ThisMonth();">This Month</button>
        </div>
    </div>
</div>
<hr>
<div class="container" id="results"></div>


<script>
    // a timeout is used to act as a low-pass-filter.
    // if the user types 10 letters quickly, we dont need to do 10 searches.
    // wait until the user has stopped typing for X seconds, then execute the search
    let t = setTimeout(function () { }, 10000);
    clearTimeout(t);

    function ShowLoadingIcon() {
        // let the user know we are processing their search
        console.log(' ShowLoadingIcon();'); results = $('#results'); results.empty(); results.append(`<img
        class= "img-fluid w-25" src = "/static/loadingdots2.gif" > `);
    }

    function DoSearch() {
        // reset the timeout
        console.log('DoSearch()');
        ShowLoadingIcon();
        clearTimeout(t);
        t = setTimeout(function () { DoSearchNow() }, 500);// dont spam the server on each key press
    }

    function DoSearchNow() {
        // actually perform the search
        console.log('DoSearchNow()');
        ShowLoadingIcon();


        value = $('#searchFor').val();
        $.ajax({
            type: 'POST',
            url: '/api/people/search',
            data: { searchFor: value },
            success: function (resp) {
                console.log('searched for', value, ', resp=', resp);
                DrawCards(resp);
            },
            error: function (resp) {
                ShowError();
            }
        })
    }

    function Today() {
        // a preset to search for birthdays happening today
        console.log('Today()');
        ShowLoadingIcon();
        d = new Date();
        console.log('Current time is=', d);
        $.ajax({
            type: 'POST',
            url: '/api/people/search',
            data: {
                month: String(d.getMonth() + 1),
                day: d.getDate()
            },
            success: function (resp) {
                console.log('searched for today, resp=', resp);
                DrawCards(resp);
            },
            error: function (resp) {
                ShowError();
            }
        })

    }

    function ThisWeek() {
        // a preset to find birthdays for this week
        console.log('ThisWeek()');
        ShowLoadingIcon();
        $.ajax({
            type: 'POST',
            url: '/api/people/search',
            data: { thisWeek: true },
            success: function (resp) {
                console.log('searched for today, resp=', resp);
                DrawCards(resp);
            },
            error: function (resp) {
                ShowError();
            }
        })
    }

    function ThisMonth() {
        // a preset to find birthdays for this month
        console.log('Today()');
        ShowLoadingIcon();
        let d = new Date();
        $.ajax({
            type: 'POST',
            url: '/api/people/search',
            data: { month: String(d.getMonth() + 1) },
            success: function (resp) {
                console.log('searched for today, resp=', resp);
                DrawCards(resp);

            },
            error: function (resp) {
                ShowError();
            }
        })
    }

    function ShowError() {
        // let the user know something went wrong
        results = $('#results');
        results.empty();
        results.append('<i>Something went wrong. Try Again.</i>');
    }

    function DrawCards(resp) {
        // takes a api response and draws the results as cards on the page
        console.log('DrawCards(resp=', resp);
        items = resp['results'];
        results = $('#results');
        results.empty();

        if (items.length > 0) {
            uuids = ''
            items.forEach(function (item) { uuids += item['uuid'] + ' ' });
            results.append("<button onclick='ExportResults(" + JSON.stringify(resp['search_params']) + ")' class='btn btn-sm btn-success'>Export Results</button>");

            items.forEach(function (item) {
                AppendCard(item);
            })

            lastItem = items[items.length - 1];
            cmd = 'LoadMore(' + JSON.stringify(resp['search_params']) + ', ' + Number(resp['offset'] + items.length)
                + ")";
            console.log('cmd=', cmd);
            $('#img_card_' + lastItem['uuid']).attr('onload', cmd);

            // add a 'load more' button at the end of the cards
            results.append(`<button id='btn_load_more' class='btn btn-secondary'
            onclick = 'LoadMore(` + JSON.stringify(resp['search_params']) + ', ' + Number(resp['offset'] + items.length)
                + ");'>more</button>");


        } else {
            results.append('<i>no results</i>');
        }
    }

    function AppendCard(item) {
        // add a single result card to the page
        d = new Date((item['date_of_birth_timestamp'] * 1000) + 1);
        now = new Date();

        // if today is the person's bday, add an emoji
        bdayIsToday = ((now.getMonth() == d.getUTCMonth() && now.getDate() == d.getUTCDate()) ? '🎂' : '');

        results.append(`
        <div class="card m-2">
            <h5 class="card-header">FIRST_NAME LAST_NAME</h5>
            <div class="card-body">
                <img id='img_card_UUID' src="IMG_SRC" style='max-height:150px' loading="lazy" class='img-thumbnail rounded' onload='console.log(\"img loaded\")'>
                <p class="card-text">Birthday: DATE_OF_BIRTH EMOJI</p>
                <p class="card-text">Address: MAIL_ADDRESS</p>
                <p class="card-text">Phone: PHONE_NUMBER</p>
                <p class="card-text">Email: EMAIL_ADDRESS</p>
                {% if isAdmin %}<a class="btn btn-sm btn-danger" href="/people/delete/UUID">Delete</a>{% endif %}
            </div>
        </div>`.replace(
            'DATE_OF_BIRTH', d.getUTCMonth() + 1 + '-' + d.getUTCDate() + '-' + d.getFullYear()
        ).replace('FIRST_NAME', item['first_name']
        ).replace('LAST_NAME', item['last_name']
        ).replace('PHONE_NUMBER', item['phone']
        ).replace('EMAIL_ADDRESS', item['email']
        ).replace('MAIL_ADDRESS', item['address']
        ).replace('UUID', item['uuid']
        ).replace('UUID', item['uuid']
        ).replace('EMOJI', bdayIsToday
        ).replace('IMG_SRC', item['imgSrc']
        )
        );
    }

    function LoadMore(searchParams, newOffset) {
        // when the user reaches the last result in the UI, a call is made to the server for more results
        // if server returns more restuls, draw them
        console.log('LoadMore(', searchParams, ', newOffset=', newOffset);
        searchParams['offset'] = newOffset;
        $.ajax({
            type: 'POST',
            url: '/api/people/search',
            data: searchParams,
            success: function (resp) {
                console.log('LoadMore resp=', resp);

                $('#btn_load_more').remove();

                items = resp['results']
                if (items.length > 0) {

                    items.forEach(AppendCard);

                    lastItem = items[items.length - 1];
                    console.log('lastItem=', lastItem);
                    cmd = 'LoadMore(' + JSON.stringify(resp['search_params']) + ', ' + Number(resp['offset'] + items.length)
                        + ")";
                    console.log('cmd=', cmd);
                    $('#img_card_' + lastItem['uuid']).attr('onload', cmd);

                    $('#results').append(`<button id='btn_load_more' class='btn btn-secondary'
                        onclick = 'LoadMore(` + JSON.stringify(resp['search_params']) + ', ' + Number(resp['offset'] + items.length)
                        + ");'>more</button>");
                } else {
                    console.log('no more restuls');
                }
            },
            error: function (resp) {
                ShowError();
            }
        })
    }

    function ExportResults(search) {
        // save all the search results to a JSON file on the client's device
        search['export'] = true;

        $.ajax({
            type: 'POST',
            url: '/api/people/search',
            data: search,
            success: function (resp) {

                // save the file to disk - credit to https://stackoverflow.com/questions/11071473/how-can-javascript-save-to-a-local-file
                var bb = new Blob([JSON.stringify(resp)], { type: 'text/json' });
                var a = document.createElement('a');
                a.download = 'download.txt';
                a.href = window.URL.createObjectURL(bb);
                a.click();
                console.log('file saved');
            }
        });

    }

    if ($('#searchFor').val()) {
        DoSearch();
    }

</script>



{% endblock %}